#GFM h1, #GFM h2, #GFM h3, #GFM h4, #GFM h5, #GFM h6 {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial";
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 1em;
  margin-bottom: 0.4em; }
#GFM h1 {
  border-left: 4px #2caae1 solid;
  padding-left: 20px;
  margin-left: -30px;
  font-size: 48px;
  line-height: 52px; }
#GFM h2 {
  font-size: 40px;
  line-height: 52px; }
#GFM h3 {
  color: #428bca;
  font-size: 32px;
  line-height: 41px; }
#GFM h4 {
  font-size: 24px;
  line-height: 32px; }
#GFM h5 {
  font-size: 18px;
  line-height: 24px; }
#GFM h6 {
  font-size: 14px;
  line-height: 19px; }
#GFM ul, #GFM ol {
  padding-left: 30px; }
#GFM hr {
  background-color: #ccc;
  border: 0;
  height: 4px;
  padding: 0; }
#GFM p {
  font-size: 16px;
  line-height: 20px; }
#GFM h1 img, #GFM h2 img, #GFM h3 img {
  margin-bottom: 4px; }

#wrapper > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
#wrapper > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  #wrapper > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
#wrapper > h3:first-child, #wrapper > h4:first-child, #wrapper > h5:first-child, #wrapper > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul li > :first-child, ol li > :first-child {
  margin-top: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

#GFM blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777; }
  #GFM blockquote > :first-child {
    margin-top: 0; }
  #GFM blockquote > :last-child {
    margin-bottom: 0; }
#GFM table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
  width: 100%; }
  #GFM table th {
    font-weight: bold;
    border: 1px solid #1b3a54;
    background-color: #1b3a54;
    padding: 6px 13px; }
  #GFM table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  #GFM table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
  #GFM table trimg {
    max-width: 100%; }
#GFM code, #GFM tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap; }
#GFM pre > code {
  margin: 0;
  padding: 0;
  white-space: pre; }
#GFM pre {
  background-color: #F2F2F2;
  border: 0;
  border-left: 2px solid #428bca;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px; }
#GFM .poetry pre {
  font-family: Georgia, Garamond, serif !important;
  font-style: italic;
  font-size: 110% !important;
  line-height: 1.6em;
  display: block;
  margin-left: 1em; }
  #GFM .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap; }
#GFM sup, #GFM sub, #GFM a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative; }
#GFM sub {
  vertical-align: sub;
  top: -1px; }
#GFM em {
  font-style: normal;
  color: #818181; }
#GFM .highlight .hll {
  background-color: #FFFFCC; }
#GFM .highlight .c {
  color: #408090;
  font-style: italic; }
#GFM .highlight .err {
  border: 1px solid #FF0000; }
#GFM .highlight .k {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .o {
  color: #666666; }
#GFM .highlight .cm {
  color: #408090;
  font-style: italic; }
#GFM .highlight .cp {
  color: #007020; }
#GFM .highlight .c1 {
  color: #408090;
  font-style: italic; }
#GFM .highlight .cs {
  background-color: #FFF0F0;
  color: #408090; }
#GFM .highlight .gd {
  color: #A00000; }
#GFM .highlight .ge {
  font-style: italic; }
#GFM .highlight .gr {
  color: #FF0000; }
#GFM .highlight .gh {
  color: #000080;
  font-weight: bold; }
#GFM .highlight .gi {
  color: #00A000; }
#GFM .highlight .go {
  color: #303030; }
#GFM .highlight .gp {
  color: #C65D09;
  font-weight: bold; }
#GFM .highlight .gs {
  font-weight: bold; }
#GFM .highlight .gu {
  color: #800080;
  font-weight: bold; }
#GFM .highlight .gt {
  color: #0040D0; }
#GFM .highlight .kc {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .kd {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .kn {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .kp {
  color: #007020; }
#GFM .highlight .kr {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .kt {
  color: #902000; }
#GFM .highlight .m {
  color: #208050; }
#GFM .highlight .s {
  color: #4070A0; }
#GFM .highlight .n {
  color: #4E95DF; }
#GFM .highlight .na {
  color: #4070A0; }
#GFM .highlight .nb {
  color: #007020; }
#GFM .highlight .nc {
  color: #0E84B5;
  font-weight: bold; }
#GFM .highlight .no {
  color: #60ADD5; }
#GFM .highlight .nd {
  color: #555555;
  font-weight: bold; }
#GFM .highlight .ni {
  color: #D55537;
  font-weight: bold; }
#GFM .highlight .ne {
  color: #007020; }
#GFM .highlight .nf {
  color: #06287E; }
#GFM .highlight .nl {
  color: #002070;
  font-weight: bold; }
#GFM .highlight .nn {
  color: #0E84B5;
  font-weight: bold; }
#GFM .highlight .nt {
  color: #062873;
  font-weight: bold; }
#GFM .highlight .nv {
  color: #BB60D5; }
#GFM .highlight .ow {
  color: #007020;
  font-weight: bold; }
#GFM .highlight .w {
  color: #BBBBBB; }
#GFM .highlight .mf {
  color: #208050; }
#GFM .highlight .mh {
  color: #208050; }
#GFM .highlight .mi {
  color: #208050; }
#GFM .highlight .mo {
  color: #208050; }
#GFM .highlight .sb {
  color: #4070A0; }
#GFM .highlight .sc {
  color: #4070A0; }
#GFM .highlight .sd {
  color: #4070A0;
  font-style: italic; }
#GFM .highlight .s2 {
  color: #4070A0; }
#GFM .highlight .se {
  color: #4070A0;
  font-weight: bold; }
#GFM .highlight .sh {
  color: #4070A0; }
#GFM .highlight .si {
  color: #70A0D0;
  font-style: italic; }
#GFM .highlight .sx {
  color: #C65D09; }
#GFM .highlight .sr {
  color: #235388; }
#GFM .highlight .s1 {
  color: #4070A0; }
#GFM .highlight .ss {
  color: #517918; }
#GFM .highlight .bp {
  color: #4E95DF; }
#GFM .highlight .vc {
  color: #BB60D5; }
#GFM .highlight .vg {
  color: #BB60D5; }
#GFM .highlight .vi {
  color: #BB60D5; }
#GFM .highlight .il {
  color: #208050; }
